@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

body{

background:#fff;

overflow-x:hidden;

}


/* Navbar */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 70px;

background:white;

position:sticky;

top:0;

z-index:1000;

box-shadow:0 5px 20px rgba(0,0,0,.05);

}


/* Logo */

.logo{

display:flex;

align-items:center;

gap:8px;

font-size:34px;

font-weight:800;

color:#111;

}

.logo-icon{

font-size:38px;

}


/* Links */

nav ul{

display:flex;

gap:45px;

list-style:none;

}

nav ul li a{

text-decoration:none;

color:#222;

font-size:18px;

font-weight:500;

transition:.3s;

}

nav ul li a:hover{

color:#8BC34A;

}


/* Icons */

.nav-icons{

display:flex;

align-items:center;

gap:18px;

}
.icon-btn{

    width:52px;
    height:52px;
    border-radius:50%;
    background:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:all .3s ease;
}

.icon-btn i{

    color:#222;
    transition:color .3s ease;
}

.icon-btn:hover{

    transform:translateY(-4px);
    background:#fff;      /* stays white */
}

.icon-btn:hover i{

    color:#8BC34A;        /* only icon changes */
}
