*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

body{

background:#fff;

overflow-x:hidden;

}

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:40px 80px;

}

.hero-left{

width:50%;

}

.hero-left h1{

font-size:75px;

line-height:1.1;

}
/*
.hero-right{

width:50%;

display:flex;

justify-content:center;

}

.hero-right img{

width:450px;

height:450px;

border-radius:50%;

object-fit:cover;

box-shadow:

0 15px 35px rgba(0,0,0,0.15);

}  */
.hero-right{

width:50%;

display:flex;

justify-content:center;

align-items:center;

}

.food-cluster{

position:relative;

width:500px;

height:500px;

}

.food{

position:absolute;

width:100px;

height:100px;

border-radius:50%;

background:#fff;

display:flex;

justify-content:center;

align-items:center;

box-shadow:

0 10px 30px rgba(0,0,0,.08);

}

.center{

width:180px;

height:180px;

background:#8BC34A;

top:160px;

left:160px;

font-size:60px;

animation:centerFloat 6s ease-in-out infinite;

}

.top{

top:20px;

left:200px;

animation:float1 4s ease-in-out infinite;

}

.left{

top:200px;

left:20px;

animation:float2 5s ease-in-out infinite;

}

.right{

top:200px;

right:20px;

animation:float3 4.5s ease-in-out infinite;


}

.bottom-left{

bottom:40px;

left:100px;

animation:float4 5.5s ease-in-out infinite;

}

.bottom-right{

bottom:40px;

right:100px;

animation:float5 4.8s ease-in-out infinite;

}

@keyframes float{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

}

@keyframes float2{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

}

@keyframes float3{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

}

@keyframes float4{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-18px);

}

}

@keyframes float5{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-14px);

}

}

@keyframes centerFloat{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-10px);

}

}

.food img{

width:75px;

height:75px;

border-radius:50%;

object-fit:cover;

}


.search-box{

display:flex;

gap:15px;

margin-top:30px;

}

.search-box input{

width:350px;

padding:18px;

border:none;

border-radius:30px;

box-shadow:

0 10px 30px rgba(0,0,0,0.08);

}

.search-box button{

padding:18px 30px;

border:none;

border-radius:30px;

background:#8BC34A;

color:white;

font-weight:600;

cursor:pointer;

}

.categories{

display:flex;

justify-content:center;

gap:20px;

margin:40px 0;

flex-wrap:wrap;

}

.chip{

padding:12px 25px;

background:white;

border-radius:50px;

box-shadow:

0 10px 25px rgba(0,0,0,.08);

font-weight:600;

cursor:pointer;

transition:.3s;

}

.chip:hover{

background:#8BC34A;

color:white;

transform:translateY(-5px);

}

.restaurants{

padding:50px 80px;

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}
/*
.card{

background:#fff;

padding:25px;

border-radius:35px;

box-shadow:

0 15px 35px rgba(0,0,0,.08);

transition:.3s;

text-align:center;

}*/


.card:hover{

transform:

translateY(-12px);

}

.card img{

width:180px;

height:180px;

border-radius:50%;

object-fit:cover;

margin:auto;
}
/*
.card h3{

font-size:24px;

margin-bottom:10px;

}*/
/*
.card p{

color:#777;

margin-bottom:20px;

}

.info{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}

.card button{

width:100%;

padding:14px;

border:none;

border-radius:30px;

background:#8BC34A;

color:white;

font-weight:600;

cursor:pointer;

}*/



.icon-btn{

width:45px;

height:45px;

background:white;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

box-shadow:

0 8px 20px rgba(0,0,0,.08);

cursor:pointer;

transition:.3s;

}


.tag{

display:inline-block;

padding:10px 20px;

background:#F0F7E8;

color:#8BC34A;

font-weight:600;

border-radius:30px;

margin-bottom:25px;

}


.restaurant-title{

text-align:center;

margin:50px 0;

}

.restaurant-title h2{

font-size:45px;

font-weight:700;

margin-bottom:10px;

}

.restaurant-title p{

color:#777;

font-size:18px;

}

.restaurant-title{

text-align:center;

margin:80px 0 50px;

}

.restaurant-title h2{

font-size:48px;

font-weight:700;

}

.restaurant-title p{

font-size:18px;

color:#777;

margin-top:10px;

}


.restaurants{

padding:0 80px 100px;

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}
/*

.card{

background:#fff;

border-radius:35px;

padding:30px;

text-align:center;

box-shadow:

0 15px 35px rgba(0,0,0,.08);

transition:.3s;

position:relative;

overflow:hidden;

}
*/

.card:hover{

transform:

translateY(-12px);

}


.image-box{

width:180px;

height:180px;

margin:auto;

border-radius:50%;

padding:8px;

background:#8BC34A;

}


.image-box img{

width:100%;

height:100%;

border-radius:50%;

object-fit:cover;

}

/*
.card h3{

font-size:28px;

margin:25px 0 10px;

}
*/
/*
.card p{

color:#777;

margin-bottom:20px;

}*/



.info{

display:flex;

justify-content:center;

gap:20px;

font-weight:600;

margin-bottom:20px;

}


.card button{

width:100%;

height:50px;

border:none;

border-radius:30px;

background:#8BC34A;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

.card button:hover{

transform:translateY(-3px);

}


.card-top{

display:flex;

justify-content:space-between;

margin-bottom:15px;

}

.fav{

width:40px;

height:40px;

border-radius:50%;

background:#f5f5f5;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

}

.rating{

background:#F4FBEA;

padding:8px 15px;

border-radius:20px;

font-weight:600;

}

.cuisine{

margin:15px 0;

color:#777;

}

.details{

display:flex;

justify-content:space-between;

margin:20px 0;

font-size:14px;

}
/*
.status{

background:#EEF8EA;

padding:10px;

border-radius:20px;

font-size:14px;

font-weight:600;

margin-bottom:20px;

}*/

.restaurants{

padding:40px 80px 100px;

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}


.card{

position:relative;

background:#fff;

padding:30px;

border-radius:30px;

box-shadow:

0 15px 35px rgba(0,0,0,.08);

text-align:center;

transition:.3s;

overflow:hidden;

height:470px;

width:320px;

display:flex;

flex-direction:column;

justify-content:space-between;

}


.card:hover{

transform:

translateY(-12px);

}


.heart{

position:absolute;

top:25px;

right:25px;

width:42px;

height:42px;

border-radius:50%;

background:#f8f8f8;

display:flex;

justify-content:center;

align-items:center;

cursor:pointer;

transition:.3s;

}


.heart:hover{

background:#8BC34A;

color:white;

}


.image-box{

width:170px;

height:170px;

margin:auto;

padding:8px;

background:#8BC34A;

border-radius:50%;

}


.image-box img{

width:100%;

height:100%;

border-radius:50%;

object-fit:cover;

}

.card h3{

height:65px;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

font-size:22px;

line-height:1.3;

margin:15px 0;

}


.card p{

font-size:15px;

color:#777;

text-align:center;

margin-bottom:15px;

}


.details{

display:flex;

justify-content:space-between;

margin:25px 0;

font-size:15px;

font-weight:600;

}

.status{

display:inline-block;

padding:8px 18px;

background:#EEF8EA;

border-radius:25px;

font-weight:600;

margin-bottom:20px;

}


.card button{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:#8BC34A;

color:white;

font-weight:600;

font-size:16px;

cursor:pointer;

transition:.3s;

}


.card button:hover{

transform:scale(1.03);

}



footer{

margin-top:100px;

background:#111;

color:white;

padding:70px 80px 30px;

}

.footer-container{

display:flex;

justify-content:space-between;

flex-wrap:wrap;

gap:40px;

}

.footer-left{

width:350px;

}

.footer-left h2{

font-size:36px;

margin-bottom:20px;

}

.footer-left p{

color:#bbb;

line-height:1.8;

}

.footer-links ul{

list-style:none;

}

.footer-links li{

margin:15px 0;

cursor:pointer;

}

.footer-links li:hover{

color:#8BC34A;

}

.footer-contact p{

margin:15px 0;

color:#bbb;

}

hr{

margin:40px 0 20px;

border:.5px solid #333;

}

.copyright{

text-align:center;

color:#888;

}