*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#FAF7F2;

}


.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

}


.register-box{

width:450px;

background:#fff;

padding:40px;

border-radius:25px;

box-shadow:0 8px 25px rgba(0,0,0,0.1);

}


.register-box h1{

text-align:center;

color:#556B2F;

margin-bottom:10px;

}


.register-box p{

text-align:center;

color:#777;

margin-bottom:30px;

}


.input-group{

margin-bottom:20px;

}


label{

display:block;

margin-bottom:8px;

font-weight:600;

}


input,
textarea,
select{

width:100%;

padding:14px;

border:1px solid #ddd;

border-radius:12px;

outline:none;

font-size:16px;

}


input:focus,
textarea:focus,
select:focus{

border-color:#556B2F;

}


button{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:#556B2F;

color:white;

font-size:16px;

font-weight:600;

cursor:pointer;

margin-top:10px;

}


button:hover{

background:#445625;

}


.login-link{

margin-top:20px;

text-align:center;

}


.login-link a{

text-decoration:none;

color:#556B2F;

font-weight:600;

}