*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}


body{

background:#FAF7F2;

}


/* Navbar */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:white;

box-shadow:0 3px 15px rgba(0,0,0,0.08);

position:sticky;

top:0;

z-index:100;

}


.logo{

font-size:28px;

font-weight:700;

color:#556B2F;

}


nav ul{

display:flex;

list-style:none;

gap:40px;

}


nav li{

cursor:pointer;

font-weight:500;

}


nav li:hover{

color:#556B2F;

}



/* Hero */

.hero{

text-align:center;

padding:70px 20px;

}


.hero h1{

font-size:48px;

color:#2D2D2D;

margin-bottom:20px;

}


.hero p{

font-size:18px;

color:#666;

margin-bottom:30px;

}


.hero input{

width:450px;

max-width:90%;

padding:16px;

border:none;

border-radius:30px;

font-size:16px;

box-shadow:0 5px 20px rgba(0,0,0,0.1);

outline:none;

}



/* Restaurants */

.restaurants{

padding:50px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}


.card{

background:white;

border-radius:25px;

overflow:hidden;

box-shadow:0 8px 25px rgba(0,0,0,0.08);

transition:0.3s;

}


.card:hover{

transform:translateY(-10px);

}


.card img{

width:100%;

height:220px;

object-fit:cover;

}


.card h3{

padding:20px 20px 10px;

font-size:24px;

}


.card p{

padding:0 20px;

color:#777;

}


.info{

display:flex;

justify-content:space-between;

padding:20px;

font-weight:500;

}


button{

margin:0 20px 25px;

padding:14px 28px;

border:none;

background:#556B2F;

color:white;

border-radius:30px;

cursor:pointer;

font-size:16px;

}


button:hover{

background:#445625;

}